@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to bottom, #BDDFE1, #76D6DB);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #5AA4A8;
    width: 600px;
    padding: 20px;
    margin: auto;

}

h1{
    color: #4D5B5C;
    text-align: center;
    text-shadow: 1px 1px 2px #4d5b5c8f;
}

h2{
    color: #5AA4A8;
}

p {
    text-align: justify;
}