@font-face{
    font-family: 'droid';
    src: url('fontes/idroid.otf') format('opentype');
}

@font-face {
    font-family: 'and';
    src: url('android-site.txt') format('opentype');
}

h1{
    font-family: 'droid';
}

p{
    font-family:Arial, Helvetica, sans-serif 
}

.global{
    width: 800px;
    background-color: aqua;
    margin: auto;
    padding: 10px 10px 10px 10px;
}
